.buttons {
  /* background-color: #c0ca33; */
  margin: 0;
  width: 330px;


}

.buttons__item {
  display: flex;
  margin: 0;
  height: 100px;
  width: 100px;
  justify-content: space-around;

}

.buttons__btn {
  width: 100px;
  border-radius: 50px;
  border: none;
  outline: none;
  animation: text_color 5s infinite ease-in-out;
  transition: 0.5s 0.5s;
  background: url(https://psv4.userapi.com/c856232/u411723168/docs/d12/f888201ca0e0/62928-salon-computer-instagram-icons-icone-vector-graphics.png?extra=E-AYxlJ9LooFgE8-WXXh5bXDgRfKPfF5Uytyk0S2oOdM9EgqTaXcjqZEZpXHb7jtJApgjjvRtGzWrBHzeiU4cfDYIVUrKjpo_9-rRMResIXnHlesAGVwUAMrilsGwAXXxxYSpA2kYS2ox1WHHMZyubzTCw);

}
.buttons__item_active {
  margin-top: 20px;
  background: url(https://psv4.userapi.com/c856232/u411723168/docs/d12/f888201ca0e0/62928-salon-computer-instagram-icons-icone-vector-graphics.png?extra=E-AYxlJ9LooFgE8-WXXh5bXDgRfKPfF5Uytyk0S2oOdM9EgqTaXcjqZEZpXHb7jtJApgjjvRtGzWrBHzeiU4cfDYIVUrKjpo_9-rRMResIXnHlesAGVwUAMrilsGwAXXxxYSpA2kYS2ox1WHHMZyubzTCw);
  background-size: 100px;
  transition: 0.5s 0.5s;
  }
