.buttons {
  margin: 0;
  width: 330px;
}

.buttons__item {
  display: flex;
  margin: 0;
  height: 100px;
  width: 100px;
  justify-content: space-around;
  background: url(https://raw.githubusercontent.com/saprtag/home1/master/1491579602-yumminkysocialmedia36_83067.png);
}

.buttons__btn {
  width: 100px;
  border-radius: 50px;
  border: none;
  outline: none;
  animation: text_color 5s infinite ease-in-out;
  transition: 0.5s 0.2s;
  background: none;
  background-size: 100px;
}
.buttons__item_active {
  margin-top: 20px;
  background-size: 100px;
  transition: 0.5s 0.2s;
  }
  .inst__link{
    background: url(https://www.shareicon.net/data/2015/10/04/111741_vk_512x512.png);
    border-radius: 100px;
    background-size: 100px;
    transition: 0.5s 0.2s;
  }
