/* @keyframes text_color{
  0%{
    border: 1px solid rgb(0, 255, 13);
  }
  20%{
    border: 1px solid rgb(255, 0, 149);
  }
  40%{
    border: 1px solid rgb(238, 255, 0);
  }
  60%{
    border: 1px solid rgb(0, 255, 242);
  }
  80%{
    border: 1px solid hotpink;
  }
  100%{
    border: 1px solid rgb(0, 255, 13);
  }
} */
