.vk__link{
  background: url(https://raw.githubusercontent.com/saprtag/home1/master/1491579602-yumminkysocialmedia36_83067.png);
  border-radius: 100px;
  background-size: 200px;
  transition: 0.5s 0.5s;
}
