.vk__link{
  background: url(https://psv4.userapi.com/c856232/u411723168/docs/d12/f888201ca0e0/62928-salon-computer-instagram-icons-icone-vector-graphics.png?extra=E-AYxlJ9LooFgE8-WXXh5bXDgRfKPfF5Uytyk0S2oOdM9EgqTaXcjqZEZpXHb7jtJApgjjvRtGzWrBHzeiU4cfDYIVUrKjpo_9-rRMResIXnHlesAGVwUAMrilsGwAXXxxYSpA2kYS2ox1WHHMZyubzTCw);
  border-radius: 100px;
  background-size: 200px;
  transition: 0.5s 0.5s;
}
