.vk__link{
  background: url(https://psv4.userapi.com/c856232/u411723168/docs/d12/d60512f736e7/62928-salon-computer-instagram-icons-icone-vector-graphics.png?extra=Wo-_8cY7-lgEh0Q0zGaiKraTAdRejSGPPQhCWnR3fNEl-zbIn6GwzjbbQC30Ox1cRvGa3hPLGbjQjWcZM-kDPyC8Z6Knnpv_6iHtUC8mh_1m8eD8YukZKtqoht8g1KvF93OWeCPp1B8pZAZWriWBkAqo_w);
  border-radius: 100px;
  background-size: 200px;
  transition: 0.5s 0.2s;
}
